<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SysAdminCompanion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SysAdminCompanion.Properties.Settings>
            <setting name="vncviewerPath" serializeAs="String">
                <value>C:\Program Files\UltraVNC</value>
            </setting>
            <setting name="vncviewer" serializeAs="String">
                <value>vncviewer.exe</value>
            </setting>
        </SysAdminCompanion.Properties.Settings>
    </userSettings>
</configuration>